body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
}

.title-logo {
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}
.title-logo > span {
  color: #4bcaff;
}

.top-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #35444f;
  padding-left: 0;
}

.top-menu-list-item {
  list-style-type: none;
  color: #ffffff;
  padding: 25px 40px;
  border-right: 1px solid #ffffff;
}

.top-menu-list-item:first-child {
  border-left: 1px solid #ffffff;
}

.top-menu-list-item-hover:hover{
  background: #222F3A;
}

.main-content{
  margin-top: 50px;
  margin-bottom: 54px;
  display: flex;
  justify-content: flex-start;
}

.main-img{
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #000000;
  padding: 75px 268px 73px 297px;
  line-height: 4.92;


}
.main-paragraph{
  margin-top: 35px;
}

.main-aside{
  margin-right: 52px;
}

.aside-list{
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  margin-top: 0;
  margin-bottom: 0;
  width: 373px;
  padding-left: 0;
}


.aside-list-items{
  list-style-type: none;
}

.aside-list-items{
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  padding: 26px 110px 35px 45px;
}

.aside-list-items:nth-of-type(5){
  padding-bottom: 30px;
}

.aside-list-items-hover:hover{
  background: #DBDBDB;
  text-align: center;
}

.footer-list{
  display: flex;
  justify-content: flex-start;
  background: rgba(99, 105, 110, 0.48);
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer-list-items{
  list-style-type: none;
}
.footer-links{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-left: 30px;
}
.footer-list-items:nth-of-type(6){
  padding-left: 135px;
  font-size: 24px;
  line-height: 24px;
}
.footer-links-hover:hover{
  font-size: 28px;
  color: #3181A6;
  text-decoration: underline;
}